*{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
body {
    background-color: var(--background1);
}
.countdown{
    color: var(--accent);
    font-size: 100px;
    width: 300px;
    height: 300px;
    position: fixed;
    left: 50%;
    top: 50%;
    cursor: default;
    transform: translate(-50%, -50%);
}

@media (max-width: 1100px) {
    #custom {
        display: none;
    }
}
@media (max-width: 700px) {
    #start2 {
        display: none;
    }
}

.buttonsDiv{
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 550px;
    display: flex;
    justify-content: space-around;
}
.buttons{
    text-align: center;
    color: var(--white);
    background-color: var(--accent);
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
    justify-content: space-around;
    font-size: 35px;
    font-weight: 550;
}
.buttons i{
    margin-left: 5px;
    margin-right: 10px;
    font-size: 25px;
    transition: var(--transition);
}
.buttons i:hover{
    filter: contrast(10);
}
.buttons:hover{
    cursor: pointer;
    box-shadow: var(--shadowsmall);
    filter: brightness(1.4);
    transform: scale(1.01);
}


#hiden{
    visibility: hidden;
    padding-top: 310px;
    padding-bottom: 370px;
    z-index: -1;
}

